body{
	background-color: #F2F2F1;
	display:absolute;
	margin: 0 auto;
	width:100%;
}


ul {
	background-color: #fff;
  list-style-type: none;
  margin-top:0px;
  margin-right: 6%;
  padding: 0;
  overflow: hidden;
  font-weight: 400;
	font-size: 24px;

   z-index: 10000;
   position: fixed;
   top: 0px;
   width: 100% ;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  padding: 16px;
  margin-top: 2px;
  text-decoration: none;
}

ul img{
  width: 100px;
  height: 60px;
  margin-top: 8px;
  margin-left: 2%;
}

nav li a:hover {
  background-color: white;
	border-radius: 25px;
	border:2px solid black;
    width: auto;
    height: -2%;
	white-space: nowrap;
	color:black;
}


h2{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 64px;
}
.start{
	margin-top: 5%;
	margin-left: 10%;
  max-width: 45%;
}


.button-6 {
  align-items: center;
  background-color: #F2F2F1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: left;
  line-height: 1.25;
  margin-left: 10%;
  margin-top: 1%;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 30%;
  min-width: 30%;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.nan{
display:block;

width: 600px;
height: 350px;
max-height: 350px;

margin-left:55%;
margin-top:-22%;

filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 8px;
}


.scop{
 /*background-image: url("hands.jpg");*/
  background-repeat: no-repeat; 
  background-size: cover; 
	text-align: center;
	margin-top:5%;
	padding: 2%;
	margin-bottom:0%;
  background-color: rgba(0, 0, 0, 0.1);
}


.scop h1{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
}
.scop p{
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 29px;
color: rgba(0, 0, 0, 0.65);
}

.scop img{
  filter: opacity(0);
}

.det{
 background:#FFFFFF;
 display:flex;
height: 1000px;
margin:0;
justify-content: space-evenly;
}

.det a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #069A8E;
  margin: 0 var(--spacing, 0px);
  transition: margin .25s;
  
}

.det a:hover {
  --spacing: 10px;
  --stroke: var(--line-active);
  --stroke-delay: .1s;
  --offset: 180px;
  color: #005555;
}

.det h3{
position: absolute;
width: 200px;
height: 41px;
margin-left: -60%;
padding-top:0;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 39px;

color: #000000;
}
.det p{
position: relative;
width: 50%;
height: 28px;
margin-left: 15%;
top:9%;



font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;


color: #000000;
}
@media only screen and (max-width: 600px) {
  .det{
    display: float;
    justify-content: space-around;
  }
}
.color{
	color:#406CAA;
}

.footer{
	background-color:#E5E5E5;
	text-align: center;
	margin-top:0;
	padding: 2%;
	margin-bottom:-3%;
	display:absolute;
}
.footer h1{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
}

